* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#compScreen {
    fill: #333;
    stroke: black;
    stroke-width: 30px;
}

.folder {
    fill: khaki;
    stroke: black;
    stroke-width: 1px;
}

text {
    fill: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

rect.java {
    animation: rectJavaOpen 2s ease 0s 1 normal forwards paused;
}

polygon.java {
    animation: polyJavaOpen 2s ease 0s 1 normal forwards paused;
}

@keyframes rectJavaOpen {
    100% {
        x: 500;
        y: 0;
        width: 500px;
        height: 500px;
    }
}

@keyframes polyJavaOpen {
    100% {
        points:
    }
}