* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  border-collapse: collapse;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#header {
  width: 100vw;
  height: 20vh;
  top: 0;
  left: 0;
}

#logo {
  width: 15vh;
  height: 15vh;
  top: 2vh;
  left: 5vw;
}

#name {
  top: 6vh;
  right: 5vw;
  font-size: 8vh;
}

#nav {
  width: 100vw;
  height: 10vh;
  top: 20vh;
}

a[id^="nav_link"] {
  width: 25vw;
  height: 10vh;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  text-decoration: none;
  text-align: center;
  line-height: 10vh;
  color: white;
}

#nav_link1 {width: 10vw; left: 0;}
#nav_link2 {width: 10vw; left: 10vw;}
#nav_link3 {width: 30vw; left: 20vw;}
#nav_link4 {width: 30vw; left: 50vw;}
#nav_link5 {width: 20vw; left: 80vw;}

#article {
  width: 100vw;
  top: 30vh;
  font-size: 5vh;
}

#article * {position: static; margin: 2vh 5vw;}

.code {
  width: 90vw;
  border-radius: 5vw;
  text-align: center;
  font-family: courier;
  background-color: #333;
  color: #0f0;
}

.title {
  width: 90vw;
  padding: 0;
  border-radius: 5vw;
  text-align: center;
  font-family: courier;
  line-height: 6vh;
  background-color: #222;
  color: #0f0;
  cursor: pointer;
}

.hidden {
  display: none;
  overflow: hidden;
  color: yellow;
  font-family: serif;
  text-align: left;
}

.code_line {
  color: #0f0;
  font-family: courier;
}
