* {
  background-color: inherit;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#header {
  border-bottom: 5px solid white;
}

#brainyThings {
  display: inline-block;
  font-family: "Times";
  position: absolute;
  right: 0;
}

.code {
  color: #00ff00;
  font-family: "Courier", monospace;
  font-size: 100%;
}

#clsName {
  border-bottom: 5px solid white;
  font-weight: bold;
  padding-bottom: 1vh;
  text-align: center;
}

#pkgName, #extends {
  font-family: "Courier", monospace;
  padding: 0.5vh 0;
  text-align: center;
}

#extends {
  border-bottom: 5px solid white;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.heading {
  border-bottom: 2px solid white;
  color: inherit;
  font-weight: bold;
  padding: 0.5vh 0;
  text-align: center;
}

#fields, #constructors, #methods {
  border-bottom: 2px solid white;
  padding: 0 5vw;
}

.content {
  background-color: #222;
  border-radius: 5vw;
  border: 1px solid white;
  margin: 1vh 0;
  overflow-x: scroll;
  padding: 0.5vh 5vw;
}

.visible {
  cursor: pointer;
}

.invisible {
  display: none;
  margin: 1vh 0;
}

.desc {
  padding: 1vh 2vw;
}

.example {
  font-family: "Courier", monospace;
}