body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

#logo {
  opacity: 0;
}

#bt_b, #bt_t {
  fill: white;
  stroke-width: 2;
  font-size: 100px;
}