#abc {
	animation: abc_anim 8 ease 2 1 normal forwards running;
}

@keyframes abc_anim {
	0.0% {
		transform: translateX(0px);
		transform: translateY(0px);
	}
	25.0% {
		transform: translateX(200px);
		transform: translateY(0px);
	}
	50.0% {
		transform: translateX(200px);
		transform: translateY(200px);
	}
	75.0% {
		transform: translateX(0px);
		transform: translateY(200px);
	}
	100.0% {
		transform: translateX(0px);
		transform: translateY(0px);
	}
}
